@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes move-blob {
  0% {
    transform: translate(0, 0) scale(1);
  }
  33% {
    transform: translate(15vw, -10vh) scale(1.1); 
  }
  66% {
    transform: translate(-10vw, 5vh) scale(0.9);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}