@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@custom-variant dark (&:where(.dark, .dark *));

/*@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}*/

:root {
  --background: theme(--color-white);
  --foreground: theme(--color-gray-900);
  --card: theme(--color-gray-100);
}

.dark {
  --background: theme(--color-gray-950);
  --foreground: theme(--color-gray-50);
  --card: theme(--color-gray-800);
}

@keyframes move-blob {
  0% {
    transform: translate(0, 0) scale(1);
  }
  33% {
    transform: translate(15vw, -10vh) scale(1.1); 
  }
  66% {
    transform: translate(-10vw, 5vh) scale(0.9);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}